<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="page-link">&laquo; First</a>
        <li class="page-item"><a class="page-link"
                                 href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
    {% endif %}
    <span class="current">
        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
    </span>
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                                 href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
    {% endif %}
    </span>
 </ul>